html , body{
    font-family:  'Lato' !important;
    background-color:#000; /*#e1e2e1*/

}
.white-text{
    color:white !important;
}
.side_nav_texts{
    font-size:18px;

}

#slide-out .side_nav_texts:hover{
    background-color: rgba(158,158,158,0.6);
}
#logo-image{
    height:30px;
    width:30px;
    margin-bottom: 20%;
    margin-left:50%;
}
.logo-text{
    font-family: 'Dosis' !important;
    font-size:20px;
    letter-spacing: 1px;
    color:white !important;
}
.logo-text li{
    display: inline-block;
}

.logo-text .text-logo{
    position: relative;
    left:30px;
    top:-10px;
}
.blue-mg{
    background-color:#333 !important;
}

.nav-color{
    background-color: #5E35B1;
}
#menu{
    position:fixed;
    right:0;
    bottom:0;
    background-color:#000;
}
#slide-out{
    top: 9.5%;
}
nav{
    position: fixed;
    z-index: 999;
}
@media only screen and (min-width: 993px){
    nav a.button-collapse {
        display: block;
    }
}
@media all and (max-width : 990px){
    #mobile-main-container{
        margin-left:0% !important;
    }
}


[id^="highcharts"] > svg > g.highcharts-legend > g > g > g > text,
[id^="highcharts"] > svg > g.highcharts-legend > g > g > g > text > tspan,
[id^="highcharts"] > svg > g.highcharts-data-labels > g > text,
[id^="highcharts"] > svg > g.highcharts-axis-labels > text > tspan,
[id^="highcharts"] > svg > g.highcharts-axis-labels > text {
	
	text-shadow: none !important;
}

.highcharts-container {
	margin: auto;
}
.highcharts-background {
    fill: #000;
}
.highcharts-color-0 {
    fill: #5E35B1;
    stroke: #7cb5ec;
}
.highcharts-column-series rect.highcharts-point {
    stroke: #5E35B1;
}
.highcharts-contextbutton ,.highcharts-contextbutton :hover  , .highcharts-button-hover {
    fill:#000;
}
.highcharts-button-symbol {
    stroke:#fff;
    fill:#000;
}
. highcharts-button-box:hover , . highcharts-button-box{
    fill:#000;   
}
/*
tspan{
    color:#fff !important;
    fill:#fff!important;
    font-family: 'Dosis' , sans-serif !important;
    stroke:#000 !important;
}*/
.highcharts-text-outline{
    fill:#fff !important;
    color:#fff !important;
    stroke:#fff !important;
    font-weight:normal!important;
}
.highcharts-data-label text{

    fill: #fff !important;
    font-weight: 100 !important;
    font-size: 12px !important;
    line-height: 1;
}
.highcharts-pie-series .highcharts-point{
    stroke:unset !important;
}
.highcharts-color-0{
    stroke:unset !important;
}
